:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #D9D9D9;
  --secundario: #27355F;
  --verde: #95A57C;
  --amarillo: #E3C65F;
  --txtButton: #151D3A;
  --buttonHover: #C4AC59;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: poppins, sans-serif;
    background-color: #F0F0F0;
}


.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal {   
    width: 120rem;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.navegacion-principal a {
    display: flex;
     flex-direction: row;
    align-items: center; 
    color: var(--blanco);
    font-size: 2rem;
    text-decoration: none;
    font-weight: 500;
    
}

.navegacion-principal .opciones{
    position: relative;
}

.navegacion-principal .opciones::after{
    background-color: #F0F0F0;
    position: absolute;
    height: 6px; 
    bottom: 0px;
    content:"";
    width: 0;
    transition: width 0.3s ease;
}

.navegacion-principal .opciones:hover::after{
    width: 100%;
}


#Logo {
    width: 132px;
    height: 38px;
}

.boton-sesion,
.boton-empezar {
  background: var(--amarillo);
  color: var(--txtButton);
  font-size: 2rem;
  border: none;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.boton-sesion:hover,
.boton-empezar:hover {
  background-color: var(--buttonHover);
}

.container {
  display: flex;
  flex:1;
}

.left {
  width: 50%;
  background-color: var(--secundario);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  max-width: 80%;
  height: 30%;
}

.right {
  width: 50%;
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  color: var(--secundario);
  font-size: 4rem;
  margin-bottom: 0;
  font-weight: 700;
}

h2 {
  color: var(--secundario);
  font-size: 2.2rem;
  margin: 10px 0 30px;
  font-weight: 700;
  text-align: left;
  width: 100%;
}

.azul {
  color: var(--secundario);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

label {
  color: var(--secundario);
  text-align: left;
  font-weight: 600;
  margin-bottom: 2px;
}

input {
  padding: 10px;
  border: 1.5px solid #444;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
  transition: background 0.2s, color 0.2s;
}

.btn-recuperar {
  background-color: var(--amarillo);
  color: var(--txtButton);
  margin-bottom: 10px;
}

.btn-recuperar:hover {
    background-color: var(--buttonHover);
}

.link-final {
  margin-top: 10px;
  color: var(--oscuro);
  text-align: left;
  width: 100%;
}

.link-final .resaltado {
  font-weight: 700;
  text-decoration: none;
  color: var(--oscuro);
}

.descripcion {
  color: var(--secundario);
  margin-bottom: 18px;
  text-align: left;
  width: 100%;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .left, .right {
    width: 100%;
    min-height: 40vh;
  }
  .form-wrapper {
    max-width: 90vw;
  }
}


/* Responsive */
@media (max-width: 768px) {
  .navegacion-principal {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem;
  }

  .nav-enlaces {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }

  .boton-sesion {
    align-self: flex-start;
  }
}